@model IPagedList<IVehicleModel>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4">
                <partial name="ModelSearch" />
            </div>

            <div class="col-lg-8">


                @foreach (var vehicleModel in Model)
                {
                    <partial name="ModelSummary" model="vehicleModel" />
                }


                @Html.PagedListPager(Model, page => 
                            Url.Action("Administration", 
                            new { makeId = ViewBag.Make, find = ViewBag.Find, sortDirection = ViewBag.SortDirection, page }), 
                            new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
                {
                    PageClasses = new string[] { "page-link" },
                    UlElementClasses = new string[] { "pagination" },
                    LiElementClasses = new string[] { "page-item" },
                    
                })

            </div>

        </div>
    </div>